.productCard {
  width: 350px;
  height: 500px;
  border: 1px solid #313131;
  background-color: #a4e0f9;
  border-radius: 24px;
  padding: 25px 24px;
  text-align: center;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.productCard:hover {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.16);
  transform: scale(1.1);
}

.nombre {
  color: #222;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.imagen {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

.descripcion {
  color: #555;
  font-size: 1.1rem;
  margin-top: 8px;
  line-height: 1.5;
  min-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  background-color: #0b2e4a;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  margin-bottom: 12px;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.btn-enlace {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: #222;
}
