.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

@media (min-width: 600px) {
  .productsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
